<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav role="navigation">
      <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <div class="cnt-store">
        <h2 class="fs-4 text fw-bold mt-4">TIENDAS</h2>
        <div class="d-flex">
          <div class="d-flex flex-column align-items-center">
            <a class="btn-store p-2 ms-3 tinda"  [ngClass]="tienda.store1" (click)="selectStore(1)">
              <img src="https://res.cloudinary.com/mdksoft/image/upload/v1606625927/logoempresa/247_pp7w2m.png">
            </a>
            <span>24/7</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a class="btn-store p-2 ms-3 tinda"  [ngClass]="tienda.store2" (click)="selectStore(2)">
            <img src="https://res.cloudinary.com/mdksoft/image/upload/v1606625927/logoempresa/247_pp7w2m.png">
          </a>
          <span>Quispe</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a class="btn-store p-2 ms-3 tinda" [ngClass]="tienda.store3" (click)="selectStore(3)">
            <img src="https://res.cloudinary.com/mdksoft/image/upload/v1606625927/logoempresa/247_pp7w2m.png">
          </a>
          <span>A. Janam</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a class="btn-store p-2  ms-3 tinda" [ngClass]="tienda.store4" (click)="selectStore(4)">
            <img src="https://res.cloudinary.com/mdksoft/image/upload/v1606625927/logoempresa/247_pp7w2m.png">
          </a>
          <span>C. Pedro</span>
        </div>
        </div>
      </div>
    <app-product-filter></app-product-filter>
    <app-notification></app-notification>
    <app-side-buttons></app-side-buttons>
    
<router-outlet></router-outlet>
</mat-sidenav-content>
  
  
</mat-sidenav-container>
