.ctn-controler{
    color: #006702;
}
.btn-controler{
    width: 20%;
    justify-content: center;
    border-radius: 5px;
    border:none;
    color: #006702;
}
.btn-cart{
    background-color: #1AC91E;
    color: #fff;
}
